<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_area :instructions %>
  </div>

  <div class="field">
    <%= f.label :servings %>
    <%= f.number_field :servings %>
  </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.select :course_id, Course.all.collect {|x| [x.name, x.id]} %>
  </div>

  <div class="field">
    <%= f.label :ingredient_id %>
    <%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
